*

!Makefile
!README.md
!VERSION
!install

!bin/
!bin/**
!envs/
!envs/conda/
!envs/conda/*.yml
!envs/docker/
!envs/docker/Dockerfile
!lib/
!lib/**
!man/
!man/**
!mk/
!mk/**
!scripts/
!scripts/**
!spec/
!spec/**

!quickstart/
!quickstart/README.md
!quickstart/scbolt.yml
!quickstart/spec.yml
!quickstart/tiny_nestorowa.py
