# folders to ignore

### Data ###

data/
*.png
*.txt
*.csv
*.tsv
*.h5ad

### Duplicates ###

*copy.*
*_[0-9]
*_[0-9][0-9]
*.[0-9]
*.[0-9][0-9]

### Python ###
__pycache__
__pycache__/
*.py[cod]
*$py.class

### Environments ###
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### Vscode ###

.vscode/
launch.json
settings.json
jsconfig.json
tsconfig.json

### Others ###

!.gitignore
.*
*.log
logs/